<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297570862335-j2dclhuvke5caiojc5o97j7dtq8p52po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297570862335-j2dclhuvke5caiojc5o97j7dtq8p52po</string>
	<key>API_KEY</key>
	<string>AIzaSyAgkvsVG_7F4pP3KncTwK0gPPHwpp6ZKaw</string>
	<key>GCM_SENDER_ID</key>
	<string>297570862335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.redux-one</string>
	<key>PROJECT_ID</key>
	<string>moviesheila</string>
	<key>STORAGE_BUCKET</key>
	<string>moviesheila.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297570862335:ios:f3c4ad590a9cee9c6338ca</string>
</dict>
</plist>